@use '../variables' as *;

.about-us {
    margin: 0;
    @include pageGrid;


    &__title {
        grid-column: 1 / -1;

        @include onTablet {
            grid-column: 1 / 4;
        }
    
        @include onDesktop {
            grid-column: span 6;
        }
    }

    &__text {
        grid-column: 1 / -1;


        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        font-family: "Space Mono", sans-serif;
        
        padding-top: 24px;
        margin: 0;

        @include onTablet {
            grid-column: 4 / 7;
            padding-top: 56px;
        }
    
        @include onDesktop {
            grid-column: span 6;
        }
    }

    @include paddingIline;
}